/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    
   
    /* Debug */
    background-color: aqua;
    height: 300px;
}

.alt-container {
    width: 70%;
    margin: 0 auto;

    /* Debug */
    background-color: blueviolet;
    /* height: 200px; */
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.alt-container::after {
    content: "";
    display: table;
    clear: both;
}

#fixed-nav::after {
    content: "";
    display: table;
    clear: both;
}




/* Header fixed */
#fixed-nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    /* Debug */
    background-color: red;
}

.logo {
    margin: 20px;
    float: left;
}

/* navigator */
#fixed-nav ul li {
    display: inline-block;
    float: left;
    margin: 20px 20px;
}

.right {
    float: right;
}

ul li a{
    text-decoration: none;
    color: black;
}

/* Button rules*/
.button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 5px 10px;
}




/* Jumbotron rules */
#jumbotron {
    height: 700px;
    width: 100%;
    background-color: rgb(180, 208, 231);
}

/* First section rules */
.row-up {
    margin: 20px 0;

    /* Debug */
    background-color: darkblue;
    height: 100px;
}

.column {
    float: left;
    width: calc(100% / 3);
    height: 300px;

    /* Debug  */
    background-color: brown;
    border: 1px solid black;
}

.row-down {

    /* Debug */
    height: 100px;
    background-color: crimson;
}


/* Second section */
.col-img {
    float: left;

    /* Debug */
    background-color: darkslategrey;
    height: 300px;
    width: 60%;
}

.col-text {
    float: right;

    /* debug */
    background-color: green;
    height: 300px;
    width: 40%;
}


/* Third section */
.title-section {

    /* debug */
    background-color: black;
    height: 100px;
    width: 100%;
}

.multi-block {
    float: left;
    width: calc(100% / 3);
    height: 300px;

    /* debug */
    background-color: goldenrod;
    border: 1px solid black;
}

/* fourth section */
.aside-col {
    width: 30%;
}

.center-col {
    width: 40%;
}

.faq-sez {

    /* Debug */
    background-color: dodgerblue;
    height: 300px;
}

footer {
    background-color: black;

    /* debug */
    height: 400px;
}