/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

span {
    display: inline-block;
}

.container {
    width: 80%;
    margin: 0 auto;
    
    
   
    /* Debug */
    /* background-color: aqua;
    height: 300px; */
}

.alt-container {
    width: 70%;
    margin: 0 auto;

    /* Debug */
    background-color: blueviolet;
    /* height: 200px; */
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.alt-container::after {
    content: "";
    display: table;
    clear: both;
}

#fixed-nav::after {
    content: "";
    display: table;
    clear: both;
}




/* Header fixed */
#fixed-nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;

}

.logo {
    margin: 20px;
    float: left;
}

/* navigator */
#fixed-nav ul li {
    display: inline-block;
    float: left;
    margin: 20px 20px;
}

.right {
    float: right;
}

ul li a{
    text-decoration: none;
    color: black;
}

/* Button rules*/
.button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 5px 10px;
    text-align: center;
}

.button a{
    text-decoration: none;
    color: white;
}

.white-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.white-btn a{
    color: black;
}



/* Jumbotron rules */
#jumbotron {
    height: 550px;
    width: 100%;
    background-color: rgb(180, 208, 231);
    margin-top: 80px;
}

#jumbotron h1 {
    font-size: 70px;
}

.jumbo-text {
    float: left;
    width: 30%;
    margin: 20px 0;
}

.jumbo-text a{
    color: black;
}

.jumbo-text span a{
    text-decoration: none;
    color: white;
}

.jumbo-text .button {
    margin: 30px 0;
}

.jumbo-img img{
    width: 60%;
    height: auto;
    margin: 30px 60px;
}



/* First section rules */
.row-up {
    margin: 150px 0;

    /* Debug */
    /* background-color: darkblue;
    height: 100px; */
}

.row-up h2{
    font-size: 30px;
    margin-bottom: 20px;
}

/* DA RIFARE!! */
/* Column rules */
.column {
    float: left;
    width: calc(100% / 3);

    /* Debug  */
    background-color: brown;
    /* border: 1px solid black; */
    /* height: 300px; */
}

.head-column {
    text-align: center;
    border: 1px solid lightgrey;
    border-bottom: none;
}

.body-column {
    border: 1px solid lightgray;
}

.body-column h3{
    margin: 10px 0;
}

.price {
    margin: 20px 0;
}

.body-column .fas{
    margin: 10px 0;
}

.product-description .button{
    margin: 20px 0;
}

.product-description p{
    margin: 20px 0;
}

.product-description ul li{
    list-style: none;
}
/* ------- */

.row-down {

    /* Debug */
    height: 100px;
    background-color: crimson;
}


/* Second section */
.col-img {
    float: left;
    width: 50%;
    height: auto;

    /* Debug */
    /* background-color: darkslategrey; */

}

.col-img img{
    width: 500px;
    height: auto;
}

.col-text {
    float: right;
    width: 50%;
    height: auto;
    margin: 30px 0;
    padding-left: 20px;

    /* debug */
    /* background-color: green; */
}

.col-text h3 {
    font-size: 30px;
}

.col-text p {
    margin: 20px 0;
}





/* Third section */
.title-section {

    /* debug */
    background-color: black;
    height: 100px;
    width: 100%;
}

.multi-block {
    float: left;
    width: calc(100% / 3);
    height: 300px;

    /* debug */
    background-color: goldenrod;
    border: 1px solid black;
}

/* fourth section */
.aside-col {
    width: 30%;
}

.center-col {
    width: 40%;
}

.faq-sez {

    /* Debug */
    background-color: dodgerblue;
    height: 300px;
}

footer {
    background-color: black;

    /* debug */
    height: 400px;
}